body {
  margin: 0;
  padding: 0;
  background: #eee !important;
  overflow: hidden;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: all;
  height: auto;
  padding: 15px;
  /*background: rgba(255, 255, 255, .5);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.horloge-box {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #f4f4f4;
  box-shadow: 0 2px 5px lightgray;
  padding: 30px 30px 15px 30px;
}

.horloge-box > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 80%;
  height: 70px;
}

.horloge {
  width: 80%;
  height: auto;
  border-radius: 10px;
  background: rgba(0, 0, 0, .1);
  padding: 5px 7px;
  border: .5px solid lightgray;
}

.horloge-screen {
  width: all;
  height: auto;
  padding: 5px;
  background: linear-gradient(70deg, grey, black);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: bold;
  line-height: 30px;
}

.horloge-screen span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horloge-day {
  font-size: 30px;
}

.horloge-time {
  font-size: 45px;
}

.horloge-period {
  font-size: 16px;
}

.horloge-date {
  font-size: 16px;
}

.horloge-design {
  width: 30px;
  height: 10px;
  border-radius: 50px;
  background: linear-gradient(70deg, #eee, rgba(0, 0, 0, .1));
  border: .3px solid lightgray;
}

.horloge-config {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-config {
  width: calc(100%/3 - 5px);
  height: auto;
  padding: 5px;
  box-shadow: 0px 2px 2px lightgray;
  font-size: 12px;
  font-weight: 600;
  background: rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-config button {
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .horloge-box,
  .horloge {
    width: 100%;
  }

  .btn-config {
    width: 100%;
  }
}
